body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d7ccc8;
}

#hoop {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 50%;
}

#ball {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #ff7043; /* Змініть колір м'яча відповідно до спортивного напрямку */
    border-radius: 50%;
}

.trail {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 112, 67, 0.5); /* Колір сліду */
    border-radius: 50%;
    transition: all 0.1s ease-out;
}


.container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.link:hover {
    background-color: #0056b3;
}